<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/6/63/Harokopio_University_Logo.png">
  <link rel="stylesheet" type="text/css"  href="{% static 'css/app.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet"> 
  <title>{{ title }}</title>
</head>

  {% block content %} {% endblock %}
  <div class="footer">
    <p>Welcome to the HUA's free Accomodation site.Here you can make your request for free accomodation.</p>
  </div>
</body>

</html>
