{% extends "studentsFront/base.html" %}
{% block content %}
<div class="module">
  <div class="module-inside">
    <div class="navbar navbar-inverse navbar-fixed-top" id=nav1>
      <a class="navbar-header"> <img
        src="https://pagecdn.io/repo/10521952be691de3ac6b/wp-content/uploads/2018/03/logo_hua_full.png"
        style="width: 200px;"></a> <span style="font-family: 'ZCOOL XiaoWei', serif;color: black;" class="navbar-text"><font
        size="6"> Welcome Students</font> </span>
      </div>
      <br> <br>
      <div class="container-fluid">
        <div class="row justify-content-center custom-margin">
          <div class="col-sm-6 col-md-4">
            <div class="h1">
              <form action="/" method="post" class="shadow-lg p-4">
                <h1 >Log-in Here</h1>
                <div class="form-group">
                  <div class="imgcontainer">
                    <img
                    src="https://upload.wikimedia.org/wikipedia/commons/6/63/Harokopio_University_Logo.png">
                  </div>
                  {% csrf_token %}

                  <label class="pl-2 font-weight-bold"  for="id_username">Username:</label>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <i class="fa fa-user-o"></i> {{ form.username }}
                      </div>
                    </div>
                  </div>
                  <label class="pl-2 font-weight-bold"  for="id_password">Password:</label>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <i class="fa fa-lock"></i> {{ form.password }}
                      </div>
                    </div>
                  </div>
                  {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                    <font color="red">{{ message }}</font>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <button type="submit"
                  class="btn btn-success mt-3 btn-block shadow-sm font-weight-bold">Submit</button>
                </form>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock content %}
