{% extends "studentsFront/base.html" %}
{% block content %}
<div class="module">
	<div class="module-inside">
		<nav class="navbar navbar-expand-sm navbar-dark">
			<ul class="navbar-nav">
				<li class="nav-item"><a style="font-family:'Gelasio', serif; color: black;" class="nav-link" href="entry"><i
					class="fa fa-home"></i>Home</a></li>
				</ul>
				<a class="navbar-brand"> <img src="https://pagecdn.io/repo/10521952be691de3ac6b/wp-content/uploads/2018/03/logo_hua_full.png" style="width: 200px;">
				</a>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" style="font-family:'Gelasio', serif; color: black;" href="#" id="navbardrop" data-toggle="dropdown">
							<i class="fa fa-user-circle"></i>	{{Student.username}}
						</a>
						<div  class="dropdown-menu">
							<a class="dropdown-item" style="font-family: 'ZCOOL XiaoWei', serif; color: black;" href="makeReq"><i class="fa fa-plus"></i>Make Request</a>
							<a class="dropdown-item" style="font-family: 'ZCOOL XiaoWei', serif; color: black;" href="viewRes"><i class="fa fa-eye"></i>View Results</a>
							<a class="dropdown-item" style="font-family: 'ZCOOL XiaoWei', serif; color: black;" href="viewRank"><i class="fa fa-eye"></i>
								View Ranking</a>
								<a class="dropdown-item" style="font-family: 'ZCOOL XiaoWei', serif; color: black;" href="/"><i class="fa fa-sign-out"></i>Logout</a>
							</div>
						</li>
					</ul>
				</nav>
				<br>
				<br>
				<div class="container-fluid">
					<div class="row justify-content-center custom-margin">
						<div class="h1">
							<h1>Make your request here:</h1>
							<form action="makeReq" class="shadow-lg p-4" method="post">
								{% csrf_token %}
								{{ form.as_p}}
								<button type="submit"
								class="btn">Make Request</button>
							</form>
							<br><br>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endblock content %}
