{% extends "studentsFront/base.html" %}
{% block content %}
<div class="module">
	<div class="module-inside">
		<nav class="navbar navbar-expand-sm navbar-dark">
			<a class="navbar-header"> <img
				src="https://upload.wikimedia.org/wikipedia/commons/6/63/Harokopio_University_Logo.png"
				alt="logo" style="width: 40px;">
			</a>
			<span style="font-family: 'ZCOOL XiaoWei', serif; color: black;" class="navbar-text">
				Welcome Student </span>
				<a class="navbar-brand"> <img src="https://pagecdn.io/repo/10521952be691de3ac6b/wp-content/uploads/2018/03/logo_hua_full.png" style="width: 200px;">
				</a>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" style="font-family: 'ZCOOL XiaoWei', serif; color: black;"  href="#" id="navbardrop" data-toggle="dropdown"><i class="fa fa-user-circle"></i>
							{{Student.username}}
						</a>
						<div  class="dropdown-menu">
							<a class="dropdown-item" style="font-family: 'ZCOOL XiaoWei', serif; color: black;" href="makeReq"><i class="fa fa-plus"></i>Make Request</a>
							<a class="dropdown-item" style="font-family: 'ZCOOL XiaoWei', serif; color: black;" href="viewRes"><i class="fa fa-eye"></i>View Results</a>
							<a class="dropdown-item" style="font-family: 'ZCOOL XiaoWei', serif; color: black;" href="viewRank"><i class="fa fa-eye"></i>
								View Ranking</a>
								<a class="dropdown-item" href="/"><i class="fa fa-sign-out"></i>Logout</a>
							</div>
						</li>
					</ul>
				</nav>
				<br>
				<br>
				<div class="shadow-lg p-4">


					{% if messages %}

					{% for message in messages %}

					<p class="h1">{{ message }}</p>


					{% endfor %}

					{% endif %}
				</div>
				<br><br><br>
				<div class="container-fluid">
					<div class="row justify-content-center custom-margin">
						<form class="shadow-lg p-4" action="entry" method="post" >
							{% csrf_token %}
							<table class="table table-user-information">
								<p class="h1">Student Details:</p>
								<tbody class="h1">
									<tr>
										<td>First Name:</td>
										<td><input style=" font-weight: bold;
											font-size: large; color:#30998B; background-color:transparent !important;
											border:none !important;" required="" name="first_name" type="text" class="form-control" placeholder="{{Student.first_name}}" value="{{Student.first_name}}"/></td>
										</tr>
										<tr>
											<td>Last Name:</td>
											<td><input style=" font-weight: bold; font-size: large; color:#30998B; background-color:transparent !important;
												border:none !important;" required="" name="last_name" type="text" class="form-control" placeholder="{{Student.last_name}}" value="{{Student.last_name}}"/></td>
											</tr>
											<tr>
												<td>Email:</td>
												<td><input style="font-weight: bold;font-size: large; color:#30998B; background-color:transparent !important;
													border:none !important;" required="" name="email" type="email" class="form-control"placeholder="{{Student.email}}" value="{{Student.email}}"/></td>
												</tr>
											</tbody>
										</table>
										<button type="submit"
										class="btn">Change Details</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<br>
					<br>


					{% endblock content %}
