<style >


.module {
  display: grid;
  position: relative;
}
.module::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  background-image:
  url("https://www.neolaia.gr/wp-content/uploads/2013/01/xarokopeio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: sepia(100%);filter: sepia(100%);
}

.module-inside {
  position: relative;
}

.h1 {
  text-align: center;
  font-family: 'ZCOOL XiaoWei', serif;
  color:#30998B;
}
.btn{
  background-color: #30998B;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #30998B;
  color: white;
  text-align: center;
  font-family: 'ZCOOL XiaoWei', serif;
  color: black;
}

.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.navbar {
  font-family: 'ZCOOL XiaoWei', serif;
  background-color: #30998B;
  color:#050505;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  /* 50% of your logo width */
  display: block;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
form i.fa {
  position: absolute;
  top: 6px;
  left: 20px;
  font-size: 22px;
  z-index: 9999;
}

.form-control {
  position: relative;
  padding-left: 45px !important;
}
</style>
